*~
*.pyc
*.autosave

# Folders
experiments/*
bin/*
build/*
install/*
sim_data/custom_sub_maps

# Qt files
*.config
*.creator
*.creator.user
*.files
*.includes
*.cflags
*.cxxflags

# G2O files
*.g2o

# Images
#*.png

*.cereal
