*~
*.pyc
*.autosave

QWEN.md
.github/
# docs/
sim_data/250826_sub_maps/
sim_data/250911_sub_maps/
sim_data/251111_sub_maps/
sim_data/251115_sub_maps/
sim_data/260323_sub_maps/
# Folders
experiments/*
bin/*
build/*
install/*
sim_data/custom_sub_maps

# Qt files
*.config
*.creator
*.creator.user
*.files
*.includes
*.cflags
*.cxxflags

# G2O files
*.g2o

# Images
#*.png

*.cereal
